<div
  class="_pools__item js-pool"
  data-length="@length"
  data-width="@width"
  data-deep="@deep"
  data-shape="@shape"
>
  <div class="_pools__item-name">Композитный бассейн Laguna Pools 9</div>
  <div class="_pools__item-img">
    <img src="img/pools/laguna-pools-9.jpg" alt="" />
  </div>
  <div class="_pools__item-bottom">
    <div class="_pools__item-material">
      Размер: длина @length м., ширина @width м., глубина @deep м.
    </div>
    <div class="_pools__item-show">
      <button
        class="_btn-wht-blkbrdr js-open-modal js-open-pools-slider"
        data-target="modal-pools"
      >
        Посмотреть
      </button>
    </div>
    <div class="_pools__item-price"><span>от</span> 782 000 руб.</div>
  </div>
</div>
