<div class="_tile__item">
  <div class="_tile__item-name">Овальная купель</div>
  <div class="_tile__item-img">
    <img src="img/ourGoods/oval-pool.png" alt="oval-pool" />
  </div>
  <div class="_product_tile__item-bottom">
    <div class="_product_tile__item-bottom-description">
      <div class="_tile__item-material _tile__item-material-product">
        Материал:
      </div>
      <div class="_tile__item-material _tile__item-material-product">
        Алтайский кедр
      </div>
    </div>
    <!--  <div class="_tile__item-bottom">-->
    <a href="#" class="_product_tile__item-bottom-link">
      <div class="_btn-wht-blkbrdr">Посмотреть</div>
    </a>
    <div class="_our-goods__goods-tile__item-bottom-price">79 000 руб.</div>
    <!--  </div>-->
  </div>
</div>
