<div class="_service-list__item ac">
  <h2 class="ac-header">
    <button class="ac-trigger _service-list__item-head">
      <span class="_service-list__item-number">@number</span>
      <span class="_service-list__item-name">@name</span>
    </button>
  </h2>
  <div class="ac-panel">
    <div class="_service-list__item-body">
      <div class="_service-list__item-panel">
        <div class="_service-list__item-img">
          <img src="img/services/services-list-item.jpg" alt="" />
        </div>
        <div class="_service-list__item-foot">
          <p class="_service-list__item-price">от 15 000 рублей</p>
          <button class="_btn _btn--secondary">Заказать услугу</button>
        </div>
      </div>
    </div>
  </div>
</div>
