<div class="_container _slider__grid">
  <div class="_slider__content">
    <h2 class="_slider-header">
      Композитные бассейны под ключ в Санкт-Петербурге и Москве @title
    </h2>
    <p class="_slider-text">Монтаж, обслуживание и благоустройство</p>
    <div class="_slider-delimiter"></div>
    <p class="_slider-sentence">Выезд специалиста в течении суток!</p>

    <div class="_slider-button">
      <button class="_slider-button-left">Вызвать специалиста</button>
      <div class="_slider-button-right">
        <a href="#" class="_slider-button-right-link">
          <img src="img/mainPage/play-icon.svg" alt="" />
          <span class="_slider-button-right-text">смотреть видео</span>
        </a>
      </div>
    </div>
  </div>
</div>
